<div style="width:100%;height:400px;background-color: blueviolet;"><a href="/user/dashboard/mail">compose mail</a></div>
<ul>
<% for(i=0;i<mails.length;i++){ %>
    <li>from 
    <%=mails[i].from %>
    mail:
    <%=mails[i].message %>
    </li>
<% } %>