<div style="width:100%;height:400px;background-color: blueviolet;"><a href="/user/dashboard/mail">compose mail</a></div>

<% for(i=0;i<mails.length;i++){ %>
    from 
    <%=mails[i].from %>
    mail:
    <%=mails[i].message %>
<% } %>